/.vs
/ClientOne/x64
/ClientOne/Debug
/ClientOne/Release
/ClientTwo/x64
/ClientTwo/Debug
/ClientTwo/Release
/FastIpcLib/x64
/FastIpcLib/Debug
/FastIpcLib/Release
/FastIpcTest/x64
/FastIpcTest/Debug
/FastIpcTest/Release
/ServerTest/x64
/ServerTest/Debug
/ServerTest/Release
/x64
/Debug
/Release
/ClientOne/ClientOne.vcxproj.user
/ClientTwo/ClientTwo.vcxproj.user
/FastIpcLib/FastIpcLib.vcxproj.user
/FastIpcTest/FastIpcTest.vcxproj.user
/ServerTest/ServerTest.vcxproj.user
/WinPipeWapper/x64
/WinPipeWapper/.vs
/WinPipeWapper/Debug
/WinPipeWapper/Release
/WinPipeWapper/WinPipeWapperTest/x64
/WinPipeWapper/WinPipeWapperTest/Debug
/WinPipeWapper/WinPipeWapperTest/Release
/WinPipeWapper/WinPipeWapperTest/WinPipeWapperTest.vcxproj.user
